In [15]:
import pandas as pd
import numpy as np
data_set= pd.read_csv('owid-covid-data.csv')

In [16]:
display(data_set)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155256,ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155257,ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155258,ZWE,Africa,Zimbabwe,2022-01-15,225637.0,0.0,531.286,5238.0,0.0,12.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155259,ZWE,Africa,Zimbabwe,2022-01-16,226078.0,441.0,594.286,5247.0,9.0,14.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155260,ZWE,Africa,Zimbabwe,2022-01-17,226460.0,382.0,494.286,5258.0,11.0,11.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [17]:
data_set.isnull().sum()

iso_code                                        0
continent                                    9345
location                                        0
date                                            0
total_cases                                  2687
                                            ...
human_development_index                     27856
excess_mortality_cumulative_absolute       149976
excess_mortality_cumulative                149976
excess_mortality                           149976
excess_mortality_cumulative_per_million    149976
Length: 67, dtype: int64

In [18]:
print(data_set.columns)

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [19]:
data_set=data_set.drop(columns=['new_cases_smoothed','new_deaths_smoothed','total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million','icu_patients_per_million','hosp_patients_per_million','weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million','total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_per_case','new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred','population_density', 'median_age','extreme_poverty', 'handwashing_facilities', 'hospital_beds_per_thousand','human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million','icu_patients','hosp_patients','new_tests','total_tests','total_vaccinations','people_vaccinated','people_fully_vaccinated','total_boosters','new_vaccinations','gdp_per_capita','female_smokers','male_smokers','life_expectancy','positive_rate','tests_units'])

In [20]:
print(data_set.columns)

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'reproduction_rate', 'stringency_index',
       'population', 'aged_65_older', 'aged_70_older', 'cardiovasc_death_rate',
       'diabetes_prevalence'],
      dtype='object')

In [21]:
data_set.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,stringency_index,population,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59

In [22]:
data_set['date'] = pd.to_datetime(data_set['date'])
data_set.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,stringency_index,population,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59

In [23]:
data_set['Month-Year']= data_set['date'].dt.strftime('%b-%y')
data_set.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,stringency_index,population,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,Month-Year
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59,Feb-20
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59,Feb-20
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59,Feb-20
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59,Feb-20
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,8.33,39835428.0,2.581,1.337,597.029,9.59,Feb-20

In [24]:
data_set['continent'].fillna(data_set['location'],inplace=True)
data_set['total_cases'].fillna(0,inplace=True)
data_set['total_deaths'].fillna(0,inplace=True)
data_set['new_cases'].fillna(0,inplace=True)
data_set['new_deaths'].fillna(0,inplace=True)
data_set['reproduction_rate'].fillna(round(data_set['reproduction_rate'].mean(),2),inplace=True)
data_set['stringency_index'].fillna(round(data_set['stringency_index'].mean(),2),inplace=True)
data_set['population'].fillna(round(data_set['population'].mean(),2),inplace=True)
data_set['aged_65_older'].fillna(round(data_set['aged_65_older'].mean(),2),inplace=True)
data_set['aged_70_older'].fillna(round(data_set['aged_70_older'].mean(),2),inplace=True)
data_set['cardiovasc_death_rate'].fillna(round(data_set['cardiovasc_death_rate'].mean(),2),inplace=True)
data_set['diabetes_prevalence'].fillna(round(data_set['diabetes_prevalence'].mean(),2),inplace=True)

In [25]:
data_set.isnull().sum()

iso_code                 0
continent                0
location                 0
date                     0
total_cases              0
new_cases                0
total_deaths             0
new_deaths               0
reproduction_rate        0
stringency_index         0
population               0
aged_65_older            0
aged_70_older            0
cardiovasc_death_rate    0
diabetes_prevalence      0
Month-Year               0
dtype: int64

In [26]:
data_set.to_csv('C:/Users/sajja/Desktop/data_for_powerbi.csv')